@model RegisterViewModel
@{
    ViewData["Title"] = "Easy account setup";
}
<h2 class="setup">@ViewData["Title"]</h2>
<div id="setup-form-wrapper">
    <form id="setup-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <!-- Form section /Name-->
        <h3>Name</h3>
        <fieldset class="step">
            <legend>Tell us who you are</legend>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                </div>
                <input asp-for="Email" class="form-control" aria-label="Username" aria-describedby="inputGroup-sizing-default" readonly />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                </div>
                <input asp-for="FirstName" class="form-control" aria-label="First Name" aria-describedby="inputGroup-sizing-default" required />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                </div>
                <input asp-for="LastName" class="form-control" aria-label="Last Name" aria-describedby="inputGroup-sizing-default" required />
            </div>
        </fieldset>
        <!-- Form section /Password-->
        <h3>Password</h3>
        <fieldset class="step">
            <legend>Let's add a password</legend>
            <ul class="text-info">
                Password requirements:
                <li>
                    Minimum of 7 characters (100 max).
                </li>
                <li>
                    Must have one non alphanumeric character (!#$%^&amp;&#64;*()_+}{&quot;:;'?/&gt;.&lt;,).
                </li>
                <li>
                    Must have one lowercase character ('a'-'z').
                </li>
                <li>
                    Must have one uppercase character ('A'-'Z').
                </li>
            </ul>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                </div>
                <input asp-for="Password" pattern="(?=^.{7,100}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!#$%^&amp;&#64;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$" class="form-control" aria-label="Password" aria-describedby="inputGroup-sizing-default" required />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" aria-label="Confirm Password" aria-describedby="inputGroup-sizing-default" required />
            </div>
        </fieldset>
        <!-- Form section /Course-->
        <h3>Course</h3>
        <fieldset class="step">
            <legend>Create a home for all your related lessons</legend>
            <p class="text-info"><em>You can create additional courses after account setup</em></p>
            <span asp-validation-for="CourseTitle" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Course Title</span>
                </div>
                <input asp-for="CourseTitle" class="form-control" aria-label="Course Title" aria-describedby="inputGroup-sizing-default" required />
            </div>
            <span asp-validation-for="CourseDescription" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                </div>
                <textarea asp-for="CourseDescription" class="form-control" aria-label="Course Description" aria-describedby="inputGroup-sizing-default" required></textarea>
            </div>
            <p class="text-info"><em>Start and end dates for your courses are optional</em></p>
            <div class="row">
                <div class="col">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Start Date</span>
                        </div>
                        <input asp-for="StartDate" class="form-control" aria-label="Start Date" aria-describedby="inputGroup-sizing-default" />
                    </div>
                </div>
                <div class="col">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">End Date</span>
                        </div>
                        <input asp-for="EndDate" class="form-control" aria-label="End Date" aria-describedby="inputGroup-sizing-default" />
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Form section /Confirm-->
        <h3>Finish</h3>
        <fieldset class="step">
            <legend>Confirmation</legend>
            <button type="submit" class="btn btn-primary">Ok, Let's get started!</button>
        </fieldset>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
