@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="start">
    <h4>Welcome to Classroom Manager</h4>
    <p><em>add marketing content/design...</em></p>
    <form asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="Email">Sign up with your email address:</label>
            <input asp-for="Email" class="form-control" placeholder="e.g. name@example.com" required />
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>