@model ClassroomManager.Models.LessonViewModel

@{
    //int enumValue = Convert.ToInt32(Model.Lesson.PublishStatus);
}
<main id="panel">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="lesson-tab" data-toggle="tab" href="#lesson" role="tab" aria-controls="lesson" aria-selected="false">Lesson</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" id="section-tab" data-toggle="tab" href="#section" role="tab" aria-controls="section" aria-selected="true">Sections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Files</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="lesson" role="tabpanel" aria-labelledby="lesson-tab">
            <input asp-for="Lesson.PublishStatus" class="form-control" readonly />
            <input asp-for="Lesson.Id" class="form-control" readonly />
            <input asp-for="Lesson.User" class="form-control" readonly />
            <input asp-for="Lesson.Title" class="form-control" readonly />
            <input asp-for="Lesson.Summary" class="form-control" readonly />
        </div>
        <div class="tab-pane fade show active" id="section" role="tabpanel" aria-labelledby="section-tab">
            <h2>Create New Section</h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    @if (Model.Sections != null && Model.Sections.Count > 0)
                    {
                        <div class="lesson-sections">
                            <h5>Sections created for this lesson:</h5>
                            @for (var i = 0; i < Model.Sections.Count; i++)
                            {
                                <p><strong>Section @(i + 1): </strong>@Model.Sections[i].SubTitle</p>
                            }
                        </div>
                    }

                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Section.SubTitle" class="control-label"></label>
                            <input asp-for="Section.SubTitle" class="form-control" />
                            <span asp-validation-for="Section.SubTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Section.Content" class="control-label"></label>
                            <textarea asp-for="Section.Content" class="form-control tinyMCE"></textarea>
                            <span asp-validation-for="Section.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Section.PublishStatus" class="control-label"></label>
                            <select asp-for="Section.PublishStatus" asp-items="Html.GetEnumSelectList<PublishStatusEnum>()" class="form-control"></select>
                            <span asp-validation-for="Section.PublishStatus" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="FileToUpload" class="control-label"></label>
                                <input type="file" asp-for="FileToUpload" class="form-control" />
                                <span asp-validation-for="FileToUpload" class="text-danger"></span>
                            </div>*@
                        <input type="hidden" asp-for="Section.LessonId" class="form-control" />
                        <input type="hidden" asp-for="Section.User" class="form-control" />
                        <input type="hidden" asp-for="Section.Id" class="form-control" />
                        <input type="hidden" asp-for="Section.CreatedDate" class="form-control" />
                        <input type="hidden" asp-for="Section.ModifiedDate" class="form-control" />
                        <input type="hidden" asp-for="Section.CreatedBy" class="form-control" />
                        <input type="hidden" asp-for="Section.ModifiedBy" class="form-control" />
                        <input type="hidden" asp-for="Section.Version" class="form-control" />
                        <div class="form-group">
                            @if (Model.Sections != null && Model.Sections.Count > 0)
                            {
                                <input type="submit" id="add-section" name="add-section" value="Add Another Section" class="btn btn-default" />
                            }
                            else
                            {<input type="submit" id="add-section" name="add-section" value="Add Section" class="btn btn-primary" />}
                        </div>
                    </form>
                    @if (Model.Sections != null && Model.Sections.Count > 0)
                    {
                        <form asp-action="Create" asp-controller="Students">
                            <input type="submit" id="continue" name="continue" value="Continue to Students" class="btn btn-primary" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
