@model App.Web.Models.RelationshipViewModel

@{
    ViewData["Title"] = "StudentLessons";
}
<main id="panel">
    <h2>StudentLessons</h2>
    <div>
        <hr />
        <h4>Students Lessons</h4>
        @if (Model.Student.StudentLessons != null && Model.Student.StudentLessons.Count > 0)
        {
            foreach (var lesson in Model.Student.StudentLessons)
            {
                <p><a>@lesson.Lesson.Title</a></p>
            }

        }

        <hr />
        <h4>All Lessons</h4>
        @foreach (var lesson in Model.Teacher.Lessons)
        {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="@lesson.Id" id="checkbox-@lesson.Id">
            <label class="form-check-label" for="checkbox-@lesson.Id">
                @lesson.Title
            </label>
        </div>
        }

    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</main>