@model App.Web.Models.StudentAddViewModel

@{
}

<main id="panel">
    <h2><img class="pic-thumb" src="~/images/students/@Model.Student.ImageUrl" /> Update @Model.Student.FirstName's Profile</h2>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Student.GradeLevel" class="control-label"></label>
                            <select asp-for="Student.GradeLevel" asp-items="Html.GetEnumSelectList<GradeLevelEnum>()" class="form-control"></select>
                            <span asp-validation-for="Student.GradeLevel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Student.FirstName" class="control-label"></label>
                            <input asp-for="Student.FirstName" class="form-control" required />
                            <span asp-validation-for="Student.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Student.LastName" class="control-label"></label>
                            <input asp-for="Student.LastName" class="form-control" required />
                            <span asp-validation-for="Student.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend class="text-muted">Optional Profile Information:</legend>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="StudentPic" class="control-label">Upload New Profile Picture</label>
                                <input type="file" asp-for="StudentPic" class="form-control btn-sm" />
                                <span asp-validation-for="StudentPic" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.Email" class="control-label"></label>
                                <input asp-for="Student.Email" class="form-control" />
                                <span asp-validation-for="Student.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.DoB" class="control-label"></label>
                                <input asp-for="Student.DoB" class="form-control" />
                                <span asp-validation-for="Student.DoB" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.AddressLine" class="control-label"></label>
                                <input asp-for="Student.AddressLine" class="form-control" />
                                <span asp-validation-for="Student.AddressLine" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.AddressLine2" class="control-label"></label>
                                <input asp-for="Student.AddressLine2" class="form-control" />
                                <span asp-validation-for="Student.AddressLine2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.City" class="control-label"></label>
                                <input asp-for="Student.City" class="form-control" />
                                <span asp-validation-for="Student.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.State" class="control-label"></label>
                                <input asp-for="Student.State" class="form-control" />
                                <span asp-validation-for="Student.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.Zip" class="control-label"></label>
                                <input asp-for="Student.Zip" class="form-control" />
                                <span asp-validation-for="Student.Zip" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.PhoneNumber" class="control-label"></label>
                                <input asp-for="Student.PhoneNumber" class="form-control" />
                                <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Student.PhoneNumberOpt" class="control-label"></label>
                                <input asp-for="Student.PhoneNumberOpt" class="form-control" />
                                <span asp-validation-for="Student.PhoneNumberOpt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input type="hidden" asp-for="Student.ImageUrl" class="form-control" />
                <input type="hidden" asp-for="Student.Id" class="form-control" />
                <input type="hidden" asp-for="Student.Role" class="form-control" />
                <input type="hidden" asp-for="Student.TeacherId" class="form-control" />
                <input type="hidden" asp-for="Student.User" class="form-control" />
                <input type="hidden" asp-for="Student.CreatedDate" class="form-control" />
                <input type="hidden" asp-for="Student.ModifiedDate" class="form-control" />
                <input type="hidden" asp-for="Student.CreatedBy" class="form-control" />
                <input type="hidden" asp-for="Student.ModifiedBy" class="form-control" />
                <input type="hidden" asp-for="Student.Version" class="form-control" />
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a asp-action="Index" asp-controller="Student" asp-route-user="@Model.Student.User" class="btn btn-outline-secondary">Back to Students</a>
                </div>
            </form>
        </div>
    </div>
</main>

<div>
    <a asp-action="Index">Back to List</a>
</div>

